/* Cuerpo de la pagimas*/
body{
    display: grid;
    padding-left: 0.5em;
    margin: 0 auto ;
    background-repeat: no-repeat;
    background-color: nth($colores,7);
    background: nth($colores,8) url(../img/fondo.jpg) no-repeat center center fixed;
    background-size: 100% 100%;

//font-size: nth($font-size,2);
//font-weight: bold;
}
.formatH2{
    font-family: 'Times New Roman', Times, serif;
    color: #030A0A;
    font-size: 30px;
    font-style: italic;
}
@media only screen and (max-width: 998px) {

}

//navbar-toggler-icon